.name {
    color: black;
    text-align: center;
    font-size: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation: name-animation 1s;
}

@keyframes name-animation {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

.collapsible {
    background-color: f1f1f1;
    color: #444;
    cursor: pointer;
    padding: 18px;
    margin-left: 10px;
    width: 180px;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: gray;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    width: 200px;
    background-color: #f1f1f1;
  }